<%= error_messages_for 'message' %>

<!--[form:message]-->
<p><label for="message_subject">Subject</label><br/>
<%= text_field 'message', 'subject'  %></p>

<p><label for="message_message">Message</label><br/>
<%= text_area 'message', 'message'  %></p>
<!--[eoform:message]-->

