<% for column in Message.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @message.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @message %> |
<%= link_to 'Back', :action => 'list' %>
