<% for column in Usersettings.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @usersettings.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @usersettings %> |
<%= link_to 'Back', :action => 'list' %>
