<% for column in Invitation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @invitation.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @invitation %> |
<%= link_to 'Back', :action => 'list' %>
