<h1>Editing user</h1>

<%= form_tag({:action => 'update', :id => @user}, :multipart => true) %>
  <%= render_partial "form" %>
  <%= submit_tag "Save" %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @user %> |
